@font-face {
  font-family: 'unscii';
  src: url('/assets/fonts/unscii-16.woff') format('woff');
  font-weight: normal;
}

:root {
  --color-black: hsl(120, 60%, 1%);
  --color-white: hsl(43, 30%, 93%);
  --color-green: hsl(122, 78%, 80%);

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --gap: clamp(0.5rem, 4.2vw, 3rem);

  --font-size-title: clamp(2rem, 10vw, 6.854rem);
  --font-size-xlarge: 4.236em;
  --font-size-large: 2.618em;
  --font-size-medium: 1.618em;
  --font-size: clamp(1rem, 2vw, 2rem);
  --font-size-small: 0.618em;

  --font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-foreground: var(--color-green);
    --font-weight: 500;
  }
}

/* MARK: Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* MARK: Colors and type
*/

body {
  background: var(--color-background);
  color: var(--color-foreground);

  font-family: 'unscii', monotype;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;

  header & {
    font-size: var(--font-size-title);
    line-height: 1em;
    font-weight: normal;
  }
}

/* MARK: Layout
*/

body {
  display: grid;
  gap: var(--gap);
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  grid-area: header;
  padding: calc(var(--gap) / 2);
  border-bottom: 1px solid var(--color-foreground);
}

main {
  grid-area: main;
  padding: calc(var(--gap) / 2);

  article {
    margin: var(--gap) 0;
    display: grid;
    gap: var(--gap);
  }
}

footer {
  grid-area: footer;
}

/* MARK: Article id string
*/

article:before {
  display: block;
  content: var(--id);
  font-size: 2em;
  line-height: 1em;
  word-break: break-word;
  width: 10ch;
  height: 6ch;
}

img {
  width: 10ch;
  height: 6ch;
  font-size: 2em;
  border: 1px solid;
  background: linear-gradient(0deg, transparent 4px, red 4px, red 5px, transparent 5px);
}
